# Ignore build and binary folders
Debug/
Release/
Generated Binaries/

# Ignore compiled object files and executables
*.out
*.obj
*.d
*.map
*.hex
*.bin

# Ignore IDE specific hidden folders (optional but keeps repo clean)
.launches/
.settings/